@model List<GasStation.DTO.ProductDTO>

@{
    ViewBag.Title = "Lista Produktów";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Upewnij się, że ten plik istnieje
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<p>
    @Html.ActionLink("Dodaj nowy produkt", "Create", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>Brak proda.</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Price)
                </th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}